html, body *{
  margin: auto;
  padding: unset;
  box-sizing: border-box;
  font-size: 100%;
}

/* Setting up the grid */

.col.seven:first-child, .col.four:first-child, .col.three:first-child, .col.two:first-child {
	margin-left: 0; /* This line of code makes the left-most column align to the left of the screen */
}

.col.seven {
	width: 57.5%;
	float: left;
}

.col.four {
	width: 32%;
	float:left;
}

.col.three {
	width: 25%;
	float:left;
}

.col.two {
	width: 15%;
	float:left;
}

.row {
	width: 100%;
	clear: both; /* Clear creates new styles for the next row */
	padding: 0px;
	margin: 0px;
}

/* Navigation Bar STARTS */

.navtab{
  width: 100%;
}


.navtab ul{
  margin: 0px;
  padding-top: 0px;
  list-style: none;
  width: 100%;
}

.navtab ul li{
  width: 20%;
  height:50px;
  line-height: 50px;
  text-align: center;
  font-size: 20px;
  float: right;
  background-color: black;
  opacity: 0.8;
  position:relative;
}


.navtab ul li a{
  color: white;
  text-decoration: none;
  display: block;
  font-family: 'Lato', sans-serif, Arial, Calibri, Times;
}

.navtab ul li a:hover{
  transition:all 0.25s;
  border-top: 2px solid rgb(179, 22, 22);
  color: rgb(179, 22, 22);
}

.navtab ul li ul {/*Drop down menu */
display: block;
position:absolute;
background-color: #fff;
}

.navtab li:hover ul li{
display:inline-block;}

.navtab li ul li{
border-top: 2px solid rgb(208, 134, 24);
color: rgb(208, 134, 24);
display:none;
width: 100%;
}

label{
  margin:0 0 0 90%;
  font-size:26px;
  line-height: 70px;
  display:none;
}

#toggle {
  display:none;
}


/* Navigation Bar ENDS */

.container{
  width:60%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 3%;
  padding-bottom: 3%;
  font-size:24px;
}

.first{
  width:60%;
  margin-right: auto;
  margin-left: auto;
  padding-top:3%;
  padding-bottom: 3%;
  font-size:24px;
  text-align: center;
}

.intro{
  width:85%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 8%;
  padding-bottom: 3%;
  font-size:24px;
  text-align: center;}

.intro h2{
    border-top: 1px dotted black;
    padding-top: 4%;
    font-size: 170%;
    font-family: 'Lato', sans-serif;}


.first h3{
    border-top: 1px dotted black;
    padding-top: 4%;
    font-size: 140%;
    font-family: 'Lato', sans-serif;}

.intro p{
    padding-top: 4%;
    font-size: 140%;
    font-family: 'Lato', sans-serif;}


.interview{
  width:75%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 3%;
  padding-bottom: 3%;
  font-size:24px;
  text-align: left;}


.first h3{
  color: rgb(78, 78, 78);
  font-size:90%;
  font-family: 'Lato', sans-serif, Arial, Calibri, Cambria, Times;
  border: 0.1em solid black;
  background-color: rgb(247, 159, 26);
}


.parallax {
    height: 75vh;
    padding:80px 15px;
    background: transparent;
    width: 100%;
}

.parallaxfirst{
    height: 100vh;
    background: transparent;
}

.parallaxfirst h2.info {
padding: 0% 35%;
color: rgba(244, 250, 248, 0.83);
font-family: 'Lato', sans-serif, Arial, Calibri, Cambria, Times;
font-size: 800%;
}

.parallaxfirst h3.info {
  padding-left: 70% ;
  color: rgba(244, 250, 248, 0.83);
  font-family: 'Lato', sans-serif, Arial, Calibri, Cambria, Times;
  font-size: 150%;
  }

.parallax h1.info {
padding-left: 2%;
margin-right: 50%;
margin-left: 2%;
color: rgb(235, 232, 236);
background-color: rgba(59, 60, 58, 0.62);
font-family: 'Lato', sans-serif, Arial, Calibri, Cambria, Times;
font-size: 300%;
}
.parallax h3.info {
padding-left: 2%;
margin-right: 50%;
margin-left: 2%;
color: rgb(235, 232, 236);
background-color: rgba(59, 60, 58, 0.62);
font-family: 'Lato', sans-serif, Arial, Calibri, Cambria, Times;
font-size: 150%;
}


.parallax h1 #nuance .info{
  padding-left: 20%;
  padding-right: 50%;
  color: rgb(46, 47, 48);
  background-color: rgba(59, 60, 58, 0.62);
  font-family: Arial, Calibri, Cambria, Times;
  font-size: 300%;
  }

.container h1{
font-size: 120%;
font-family: 'Lato', sans-serif, Arial, Calibri, Cambria, Times;

}

.container p{
font-family: 'Lato', sans-serif;
font-size: 80%;
}

.info{
  z-index: 2;
  position: relative;
}

nav{width: 100%;}

/* Block of pictures*/


.pictures{
  width:100%;
  margin: 0 auto;
  height: 50vh;
}

.col.three{
height: 50vh;
}

.picnews1{
background-image:url('img/face1small.jpg');
height: 100%;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}


.picnews1:hover{
  background-size: 120%;
}

.picnews2{
background-image:url('img/face2small.jpg');
height: 100%;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

.picnews2:hover{
  background-size: 120%;
}

.picnews3{
background-image:url('img/face3small.jpg');
height: 100%;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

.picnews3:hover{
  background-size: 120%;
}

.picnews4{
background-image:url('img/face4small.jpg');
height: 100%;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

.picnews4:hover{
  background-size: 120%;
}


.picnews5{
background-image:url('img/face5small.jpg');
height: 100%;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

.picnews5:hover{
  background-size: 140%;
}

.picnews6{
background-image:url('img/face6small.jpg');
height: 100%;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

.picnews6:hover{
  background-size: 120%;
}


.picnews7{
background-image:url('img/face7small.jpg');
height: 100%;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

.picnews7:hover{
  background-size: 130%;
}

.picnews8{
background-image:url('img/face8small.jpg');
height: 100%;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

.picnews8:hover{
  background-size: 120%;
}
/* Block of pictures ENDS*/


/*--footer--*/

.row .footer{
height: 33vh;
background-color: rgb(43, 43, 43);
margin-top: 5%;
}

.row .footer .col.seven{
margin-top: 3%;
margin-bottom: 1%;
margin-left: 2%;
}

.row .footer .col.seven p {
color:white;
font-family: 'Lato', sans-serif;
font-size: 80%;
}

.row .footer .col.four{
margin-top: 3%;
margin-bottom: 1%;
margin-left: 2%;
padding-left: 17%;
}

.row .footer .col.four p {
color:white;
font-family: 'Lato', sans-serif;
font-size: 80%;
}

/* Style all social media icons */
.social-media{
margin-left: 1%;
}

.fa {
  padding: 1%;
  font-size: 80%;
  width: 5%;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}

/* Facebook */
.fa-facebook {
  color: rgb(182, 180, 173);
}

/* Twitter */
.fa-twitter {
  color: rgb(182, 180, 173);
}


/*Drop down menu */

@media (max-width: 1025px) { /*For tablet devices */
.col.three {width: 48.5%; float:left;}
#latest {width: 100% !important;}
.pictures{height: 25vh;}
.container{width: 75%}
.row .footer{height: 35vh;margin-top:8%}
.row .footer .col.four{
margin-top: 3%;
margin-bottom: 1%;
margin-left: 2%;
padding-left: 0%;}
}

@media (max-width: 668px){ /*For mobile devices */
.col.three {width: 100%; float:left;}
.pictures{height: 25vh;}
.container{width: 90%;
padding-top: 13%;}
.row .footer{height: 65vh;}
.col.four{width: 50% !important;padding-left: 0%;}
label{display:block;
cursor:pointer;}
.navtab ul li{width: 100%;}
.navtab{text-align:center; width:100%;}
.navtab{text-align:center; width:100%;
display:none;}
.navtab li a{display: block; border-bottom: 1px solid #EAEAEB;
margin: 0;}
.navtab li:hover ul li{display:none;}
#toggle:checked + .navtab{display:block}
}
